<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjf.dao.notify">
	<sql id="columnsAs">
		t1.id,t1.service_name, t1.return_content, t1.status, t1.notify_time
	</sql>

	<select id="selectNotifyLogPage" resultType="com.zdjf.domain.notify.NotifyLog">
		select
		<include refid="columnsAs"/>
		from
		zd_notify_log t1
		where 1=1
		<include refid="conds" />
		order by id desc
		limit #{firstrownum}, #{limit}
	</select>
	
	<select id="selectNotifyLogCount" resultType="java.lang.Long">
		select
		count(id)
		from zd_notify_log
		where 1=1
		<include refid="conds" />
	</select>
	
	<select id="selectNotifyLogByTradeNo" parameterType="java.util.Map" resultType="com.zdjf.domain.notify.NotifyLog">
		select * from zd_notify_log
			where 1 = 1 
			and return_content like #{trade_no} and service_name='create_hosting_collect_trade' and status='success'
			 order by notify_time desc limit 1
	</select>
</mapper>