<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjf.dao.user.userGift">
	<!-- 所有列名 -->
	<sql id="columns">
		id,
		gift_id,
		user_id,
		amount,
		create_time,
		used_time,
		start_date,
		end_date,
		status,
		remark,
		relation_id,
		gift_name,
		max_amount,
		use_type,
		max_days,
		old_id,
		old_gift_id,
		uid,
		old_relation_id
	</sql>
	<sql id="columnsA">
		<if test="id != null and id != ''"> id,</if>
		<if test="gift_id != null and gift_id != ''"> gift_id,</if>
		<if test="user_id != null and user_id != ''"> user_id,</if>
		<if test="amount != null and amount != ''"> amount,</if>
		<if test="create_time != null"> create_time,</if>
		<if test="used_time != null"> used_time,</if>
		<if test="start_date != null"> start_date,</if>
		<if test="end_date != null"> end_date,</if>
		<if test="status != null and status != ''"> status,</if>
		<if test="remark != null and remark != ''"> remark,</if>
		<if test="relation_id != null and relation_id != ''"> relation_id,</if>
		<if test="gift_name != null and gift_name != ''"> gift_name,</if>
		<if test="max_amount != null and max_amount != ''"> max_amount,</if>
		<if test="use_type != null and use_type != ''"> use_type,</if>
		<if test="max_days != null and max_days != ''"> max_days,</if>
		<if test="old_id != null and old_id != ''"> old_id,</if>
		<if test="old_gift_id != null and old_gift_id != ''"> old_gift_id,</if>
		<if test="uid != null and uid != ''"> uid,</if>
		<if test="old_relation_id != null and old_relation_id != ''"> old_relation_id,</if>
		
	</sql>
	<!-- 列值 -->
	<sql id="vals">
		<if test="id != null and id != ''"> #{id},</if>
		<if test="gift_id != null and gift_id != ''"> #{gift_id},</if>
		<if test="user_id != null and user_id != ''"> #{user_id},</if>
		<if test="amount != null and amount != ''"> #{amount},</if>
		<if test="create_time != null"> #{create_time},</if>
		<if test="used_time != null"> #{used_time},</if>
		<if test="start_date != null"> #{start_date},</if>
		<if test="end_date != null"> #{end_date},</if>
		<if test="status != null and status != ''"> #{status},</if>
		<if test="remark != null and remark != ''"> #{remark},</if>
		<if test="relation_id != null and relation_id != ''"> #{relation_id},</if>
		<if test="gift_name != null and gift_name != ''"> #{gift_name},</if>
		<if test="max_amount != null and max_amount != ''"> #{max_amount},</if>
		<if test="use_type != null and use_type != ''"> #{use_type},</if>
		<if test="max_days != null and max_days != ''"> #{max_days},</if>
		<if test="old_id != null and old_id != ''"> #{old_id},</if>
		<if test="old_gift_id != null and old_gift_id != ''"> #{old_gift_id},</if>
		<if test="uid != null and uid != ''"> #{uid},</if>
		<if test="old_relation_id != null and old_relation_id != ''"> #{old_relation_id},</if>
	</sql>
	<!-- 条件 -->
	<sql id="conds">
		<if test="id != null and id != ''"> and id = #{id}</if>
		<if test="gift_id != null and gift_id != ''"> and gift_id = #{gift_id}</if>
		<if test="user_id != null and user_id != ''"> and user_id = #{user_id}</if>
		<if test="amount != null and amount != ''"> and amount = #{amount}</if>
		<if test="create_time != null"> and create_time = #{create_time}</if>
		<if test="used_time != null"> and used_time = #{used_time}</if>
		<if test="start_date != null"> and start_date = #{start_date}</if>
		<if test="end_date != null"> and end_date = #{end_date}</if>
		<if test="status != null and status != ''"> and status = #{status}</if>
		<if test="remark != null and remark != ''"> and remark = #{remark}</if>
		<if test="relation_id != null and relation_id != ''"> and relation_id = #{relation_id}</if>
		<if test="gift_name != null and gift_name != ''"> and gift_name = #{gift_name}</if>
		<if test="max_amount != null and max_amount != ''"> and max_amount = #{max_amount}</if>
		<if test="use_type != null and use_type != ''"> and use_type = #{use_type}</if>
		<if test="max_days != null and max_days != ''"> and max_days = #{max_days}</if>
		<if test="old_id != null and old_id != ''"> and old_id = #{old_id}</if>
		<if test="old_gift_id != null and old_gift_id != ''"> and old_gift_id = #{old_gift_id}</if>
		<if test="uid != null and uid != ''"> and uid = #{uid}</if>
		<if test="old_relation_id != null and old_relation_id != ''"> and old_relation_id = #{old_relation_id}</if>
	</sql>
	<insert id="saveUserGift" parameterType="com.zdjf.domain.user.UserGift" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into zd_user_gift (
		<trim  suffixOverrides=",">
		<include refid="columnsA" />
		</trim>) 
		values (
		<trim  suffixOverrides=",">
		<include refid="vals" />
		</trim>)
	</insert>

	<delete id="deleteUserGift">
		delete from zd_user_gift
		where id=#{id}
	</delete>

	
	<select id="loadUserGift" resultType="com.zdjf.domain.user.UserGiftVo">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_user_gift
		where id=#{id}
	</select>
	
	<select id="selectUserGift" resultType="com.zdjf.domain.user.UserGiftVo">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_user_gift
		where 1=1
		<include refid="conds" />
		order by status
	</select>
</mapper>