<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjf.dao.user.userCoupon">
	<!-- 所有列名 -->
	<sql id="columns">
		id,
		user_id,
		coupon_id,
		interest,
		start_date,
		end_date,
		create_time,
		use_time,
		status,
		remark,
		coupon_name,
		use_type,
		min_amount,
		min_days,
		old_id,
		uid,
		old_coupon_id
	</sql>
	<sql id="columnsA">
		<if test="id != null and id != ''"> id,</if>
		<if test="user_id != null and user_id != ''"> user_id,</if>
		<if test="coupon_id != null and coupon_id != ''"> coupon_id,</if>
		<if test="interest != null and interest != ''"> interest,</if>
		<if test="start_date != null"> start_date,</if>
		<if test="end_date != null "> end_date,</if>
		<if test="create_time != null "> create_time,</if>
		<if test="use_time != null "> use_time,</if>
		<if test="status != null and status != ''"> status,</if>
		<if test="remark != null and remark != ''"> remark,</if>
		<if test="coupon_name != null and coupon_name != ''"> coupon_name,</if>
		<if test="use_type != null and use_type != ''"> use_type,</if>
		<if test="min_amount != null and min_amount != ''"> min_amount,</if>
		<if test="min_days != null and min_days != ''"> min_days,</if>
		<if test="old_id != null and old_id != ''"> old_id,</if>
		<if test="uid != null and uid != ''"> uid,</if>
		<if test="old_coupon_id != null and old_coupon_id != ''"> old_coupon_id,</if>
	</sql>
	<!-- 列值 -->
	<sql id="vals">
		<if test="id != null and id != ''"> #{id},</if>
		<if test="user_id != null and user_id != ''"> #{user_id},</if>
		<if test="coupon_id != null and coupon_id != ''"> #{coupon_id},</if>
		<if test="interest != null and interest != ''"> #{interest},</if>
		<if test="start_date != null"> #{start_date},</if>
		<if test="end_date != null"> #{end_date},</if>
		<if test="create_time != null"> #{create_time},</if>
		<if test="use_time != null"> #{use_time},</if>
		<if test="status != null and status != ''"> #{status},</if>
		<if test="remark != null and remark != ''"> #{remark},</if>
		<if test="coupon_name != null and coupon_name != ''"> #{coupon_name},</if>
		<if test="use_type != null and use_type != ''"> #{use_type},</if>
		<if test="min_amount != null and min_amount != ''"> #{min_amount},</if>
		<if test="min_days != null and min_days != ''"> #{min_days},</if>
		<if test="old_id != null and old_id != ''"> #{old_id},</if>
		<if test="uid != null and uid != ''"> #{uid},</if>
		<if test="old_coupon_id != null and old_coupon_id != ''"> #{old_coupon_id},</if>
	</sql>
	<!-- 条件-->
	<sql id="conds">
		<if test="id != null and id != ''"> and id = #{id}</if>
		<if test="user_id != null and user_id != ''"> and user_id = #{user_id}</if>
		<if test="coupon_id != null and coupon_id != ''"> and coupon_id = #{coupon_id}</if>
		<if test="interest != null and interest != ''"> and interest = #{interest}</if>
		<if test="start_date != null"> and start_date = #{start_date}</if>
		<if test="end_date != null"> and end_date = #{end_date}</if>
		<if test="create_time != null"> and create_time = #{create_time}</if>
		<if test="use_time != null"> and use_time = #{use_time}</if>
		<if test="status != null and status != ''"> and status = #{status}</if>
		<if test="remark != null and remark != ''"> and remark = #{remark}</if>
		<if test="coupon_name != null and coupon_name != ''"> and coupon_name = #{coupon_name}</if>
		<if test="use_type != null and use_type != ''"> and use_type = #{use_type}</if>
		<if test="min_amount != null and min_amount != ''"> and min_amount = #{min_amount}</if>
		<if test="min_days != null and min_days != ''"> and min_days = #{min_days}</if>
		<if test="old_id != null and old_id != ''"> and old_id = #{old_id}</if>
		<if test="uid != null and uid != ''"> and uid = #{uid}</if>
		<if test="old_coupon_id != null and old_coupon_id != ''"> and old_coupon_id = #{old_coupon_id}</if>
	</sql>
	<insert id="saveUserCoupon" parameterType="com.zdjf.domain.user.UserCoupon" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into zd_user_coupon (
		<trim  suffixOverrides=",">
		<include refid="columnsA" />
		</trim>) 
		values (
		<trim  suffixOverrides=",">
		<include refid="vals" />
		</trim>)
	</insert>
	<select id="loadUserCoupon" resultType="com.zdjf.domain.user.UserCouponVo">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_user_coupon
		where id=#{id}
	</select>
	
	<select id="selectUserCoupon" resultType="com.zdjf.domain.user.UserCouponVo">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_user_coupon
		where 1=1
		<include refid="conds" />
		order by status
	</select>
	<select id="selectUserCouponByCouponId" resultType="com.zdjf.domain.user.UserCoupon">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_user_coupon
		where 1=1
		<include refid="conds" />
	</select>
</mapper>