@CHARSET "UTF-8";
.admin-main {
	background: #FFFFFF;
}

.finance_label {
	    font-size: 1.3rem;
}

.center_div {
	text-align: center;
}

.user_info_label {
    font-size: 1.3rem;
}
.upload-pic li{
	position: relative;
}
.upload-pic .close-icon{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	position: absolute;
	right: 9px;
	top: 9px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 20px;
	border-radius: 3px;
	font-size: 20px;
	cursor: pointer;

}
.upload-pic .close-icon:hover{
	background-color: rgba(0,0,0,0.7);
}
.hide {
	display: none;
}