<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdjf.dao.notice.news">
<sql id="columns">
id,
user_id,
title,
content,
url,
create_time,
is_read,
update_time
</sql>
<sql id="columnsA">
<if test="id != null and id != ''">  id,</if>
<if test="user_id != null and user_id != ''">  user_id,</if>
<if test="title != null and title != ''">  title,</if>
<if test="content != null and content != ''">  content,</if>
<if test="url != null and url != ''">  url,</if>
<if test="create_time != null">  create_time,</if>
<if test="is_read != null and is_read != ''">  is_read,</if>
<if test="update_time != null">  update_time,</if>
</sql>
<sql id="vals">
<if test="id != null and id != ''">  #{id},</if>
<if test="user_id != null and user_id != ''">  #{user_id},</if>
<if test="title != null and title != ''">  #{title},</if>
<if test="content != null and content != ''">  #{content},</if>
<if test="url != null and url != ''">  #{url},</if>
<if test="create_time != null">  #{create_time},</if>
<if test="is_read != null and is_read != ''">  #{is_read},</if>
<if test="update_time != null">  #{update_time},</if>
</sql>
<sql id="conds">
<if test="id != null and id != ''">  and id = #{id}</if>
<if test="user_id != null and user_id != ''">  and user_id = #{user_id}</if>
<if test="title != null and title != ''">  and title = #{title}</if>
<if test="content != null and content != ''">  and content = #{content}</if>
<if test="url != null and url != ''">  and url = #{url}</if>
<if test="create_time != null">  and create_time = #{create_time}</if>
<if test="is_read != null and is_read != ''">  and is_read = #{is_read}</if>
<if test="update_time != null">  and update_time = #{update_time}</if>
</sql>
<insert id="saveNews" parameterType="com.zdjf.domain.notice.News" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into zd_news (
		<trim  suffixOverrides=",">
		<include refid="columnsA" />
		</trim>) 
		values (
		<trim  suffixOverrides=",">
		<include refid="vals" />
		</trim>)
	</insert>
	<select id="selectNews" resultType="com.zdjf.domain.notice.NewsVo">
		<trim prefix="select" suffixOverrides=",">
		<include refid="columns"/>
		</trim> 
		from zd_news
		where 1=1
		<include refid="conds" />
	</select>
</mapper>