.find{width: 100%;height: 100%;}
.find .header{display: none;}
.find .body_content{ padding-top: 88px;}
.find .f_box{width: 100%;height: 100%;}
.find .f_box .box{display: flex;display: -webkit-flex;flex-direction: row;width: 100%;height: 3.3rem;background: #ffffff;}
.find .f_box .box .state1,.state2{flex: 1;height: 100%;}
.find .f_box .box .state1{background: url('../../../images/front/m/find_01.jpg') center 0.88rem no-repeat;background-size: 1rem;text-align: center;}
.find .f_box .box .state1 a{display: block;height: 100%;}
.find .f_box .box .state1 a span{margin: 2.15rem 0 0;font-size: 0.3rem;color: #3b3b3b;display: inline-block;}
.find .f_box .box .state2{border-left: 1px solid #e3e3e3;}
.find .f_box .box .state2 div{height: 1.59rem;}
.find .f_box .box .state2 div a{display:block;height: 100%;line-height: 1.59rem;text-indent: 1.6rem;}
.find .f_box .box .state2 div a span{font-size: 0.3rem;color: #3b3b3b;}
.find .f_box .box .state2 div:first-child{border-bottom: 1px solid #e3e3e3;}
.find .f_box .box .state2 .about{background: url(../../../images/front/m/find_02.jpg) 0.6rem center no-repeat;background-size: 0.7rem;}
.find .f_box .box .state2 .mess{background: url(../../../images/front/m/find_03.png) 0.6rem center no-repeat;background-size: 0.7rem;}

.find .f_box .title{height: 1.55rem;margin: 0.15rem 0;padding:0 0.3rem;background:url(../../../images/front/m/findkey.png) center right 0.3rem no-repeat #ffffff;background-size: 1.35rem;}
.find .f_box .title h3{font-size: 0.32rem;color: #3b3b3b;line-height: 1.55rem;}

.find .f_box .report{margin: 15px 0 0;background: #ffffff;}
.find .f_box .report h3{font-size: 0.3rem;color: #9f9f9f;background: url(../../../images/front/m/img/reicon.png) center left 0.3rem no-repeat;background-size: 0.21rem;line-height: 0.65rem;text-indent: 0.6rem;}
.find .f_box .report ul{}
.find .f_box .report ul li{height: 1.58rem;border-bottom: 1px solid #e3e3e3;}
.find .f_box .report ul li:last-child{border-bottom:0;}
.find .f_box .report ul li .relist{margin: 0 0.3rem;}
.find .f_box .report ul li .relist .l_txt{display: inline-block;width: 80%;float: left;}
.find .f_box .report ul li .relist .l_txt h4{margin: 0.15rem 0.7rem 0.1rem 0;font-size: 0.24rem;color: #3b3b3b;line-height: 0.3rem;}
.find .f_box .report ul li .relist .l_txt span{font-size: 0.22rem;color: #9f9f9f;}
.find .f_box .report ul li .relist .l_img{display: inline-block;width: 20%;float: left;}
.find .f_box .report ul li .relist .l_img img{width: 1.15rem;height: 1.15rem;}

.re_detail{background: #ffffff;}
.re_detail .tlt{text-align: center;}
.re_detail .tlt h3{font-size: 0.3rem;color: #666666;line-height: 0.70rem;}
.re_detail .tlt p{font-size: 0.2rem;color: #a0a0a0;padding: 0 0 0.20rem;}
.re_detail .txt{margin: 0 0.1rem;}
.re_detail .txt span{font-size: 0.24rem;color: #a0a0a0;margin: 0 0 0.55rem;}
.re_detail .txt p{font-size: 0.24rem;color: #a0a0a0;margin: 0 0.2rem 0.55rem;text-indent: 2em;line-height: 0.35rem;}
.re_detail .txt p *{font-size: 0.24rem;}

/* 关于我们、安全保障 */
.f_about{}
.f_about .tab{display: flex;text-align: center;height: 90px;background: #ffffff;}
.f_about .tab .btn{flex:1;}
.f_about .tab .btn span{line-height: 90px;display: inline-block;width: 230px;font-size: 30px;color: #3b3b3b;}
.f_about .tab .btn span.active{border-bottom: 4px solid #008eff;color: #008eff;}
.f_about .tabbox{margin: 15px 0 0;}
.f_about .tabbox .box a {display: inline-block;}
.f_about .tabbox .box img{width: 100%;}

/* 团队介绍 */
.f_team{}
.f_team img{width: 100%;}

/* 信息披露 */
.f_infor{}
.f_infor img{width: 100%;}

.wo_office{background: #ffffff;margin: 0.15rem 0;padding: 0 0 0.5rem;}
.work_off{width: 100%;}
.swiper-wrapper{display: flex;align-items:center;}
.work_off img{width: 100%;}

.qual{background: #ffffff;margin: 0.15rem 0;padding: 0 0 0.5rem;}
.qualbox{width: 100%;}
.qualbox img{width: 100%;}
.qual p{font-size: 0.28rem;color: #3b3b3b;text-align: center;padding: 0.4rem 0;}

/* 发展合作 */
.f_deve{}
.f_deve .tab{display: flex;text-align: center;height: 90px;background: #ffffff;}
.f_deve .tab .btn{flex:1;}
.f_deve .tab .btn span{line-height: 90px;display: inline-block;width: 230px;font-size: 30px;color: #3b3b3b;}
.f_deve .tab .btn span.active{border-bottom: 4px solid #008eff;color: #008eff;}
.f_deve .tabbox{margin: 0.15rem 0 0;}
.f_deve .tabbox .box img{width: 100%;}

/* 投资教育 */
.f_edu{}
.f_edu img{width: 100%;}

/* 客服帮助 */
.f_cust{}
.f_cust .cust{display: flex;height: 150px;background: #ffffff;}
.f_cust .cust .cubox{flex:1;text-align: center;}
.f_cust .cust .cubox a{display: block;height: 100%;}
.f_cust .cust .cubox img{width: 44px;height: 44px;margin: 40px 0 15px;}
.f_cust .cust .cubox p{font-size: 26px;color: #3b3b3b;height: 51px;line-height: 40px;}

.f_cust .ask{background: #ffffff;}
.f_cust .ask h3{padding:0 30px;line-height: 80px;font-size: 28px;color: #3b3b3b;background:url(../../../images/front/m/help/guess.png) left 30px center no-repeat #f6f6f6;background-size: 25px;text-indent: 30px;}
.f_cust .ask ul{background:#ffffff;}
.f_cust .ask ul li{}
.f_cust .ask ul li h4{padding: 0 30px;height: 95px;}
.f_cust .ask ul li h4 .a_h4{display: inline-block;float: right;height: 95px;width: 95px;background:url(../../../images/front/m/help/bot.jpg) center center no-repeat;background-size: 25px;}
.f_cust .ask ul li h4 .a_h4.active{background:url(../../../images/front/m/help/top.jpg) center center no-repeat;background-size: 25px;}
.f_cust .ask ul li h4 span{padding: 0 40px 0 0;line-height: 95px;font-size: 28px;color: #3b3b3b;display: inline-block;}
.f_cust .ask ul li h4 span.active{background: url(../../../images/front/m/help/kefu.jpg) right 15px top 25px no-repeat;background-size: 30px;}
.f_cust .ask ul li .txt{display: none;background:#fff2e3;line-height: 40px;padding: 0 30px;overflow: hidden;}
.f_cust .ask ul li .txt p{font-size: 26px;color: #ff8902;line-height: 40px;}
.diamond{
	padding-top: 10px;
	width: 20px;
	height: 20px;
	float: left;  
	margin-right: 10px;
}
.diamond img{
	width: 19px;
	height: 19px;
}
.p_box{
	width: 660px;
	padding: 10px 0;
	float: left;  
}
.phone{width: 100%;text-align: center;padding: 40px 0;}
.phone .p_txt{display: inline-block;text-align: left;}
.phone .p_txt img{width: 47px;}
.phone .p_txt p:first-child{color: #8a8a8a;font-size: 24px;margin: 0 0 10px;}
.phone .p_txt p:last-child{font-size: 20px;color: #c3c3c3;}

/* 充值 */
.re_title{line-height: 0.65rem;background:#ffefdd;text-align: center;font-size: 0.28rem;color: #ff9012;}
.re_bank{height: 1.45rem;background:#ffffff;padding: 0 0.3rem;}
.re_bank .banklogo{display: inline-block;height:100%;float: left;}
.re_bank .banklogo img{margin: 0.45rem 0 0;display: inline-block;float: left;}
.bank_name{display: inline-block;height: 100%;float: left;text-indent: 0.25rem;}
.bank_name h4{font-size: 0.3rem;color: #3b3b3b;padding: 0.34rem 0 0.15rem;}
.bank_name p{font-size: 0.24rem;color: #c3c3c3;}
.bank_mon{height: 0.7rem;line-height: 0.7rem;margin: 0 0.3rem;background:#f6f6f6;font-size: 0.24rem;color: #9f9f9f;}
.bank_mon span{font-size: 0.27rem;color: #008eff;}
.re_add{height: 0.95rem;line-height: 0.95rem;padding: 0 0.3rem;display: flex;background: #ffffff;}
.re_add .add{flex:1;}
.re_add .add:first-child{font-size: 0.3rem;color: #3b3b3b;}
.re_add .add:last-child input{font-size: 0.3rem;color: #3b3b3b;font-size: 0.28rem;border: none;line-height: 0.95rem;text-align: right;}
.readd_tlt{padding: 0.2rem 0 0.8rem;}
.readd_tlt p{font-size: 0.2rem;text-align: center;color: #9f9f9f;}
.readd_tlt p a{font-size: 0.24rem;color: #008eff;}
.re_addbtn{}
.re_addbtn a{display: block;margin: 0 0.3rem;border-radius: 0.05rem;line-height: 0.85rem;text-align: center;background: #bababa;color: #ffffff;font-size: 0.32rem;}
.re_addbtn a.active{background:#008eff;}
.re_addbtn p{font-size: 0.2rem;text-align: center;color: #9f9f9f;padding: 0.1rem 0.3rem;line-height: 0.3rem;}
.large{padding: 0 0.5rem 0;}
.large h3{margin: 0 0 0.1rem 0;font-size: 0.3rem;color: #3b3b3b;border-bottom: 1px solid #c3c3c3;padding: 0.45rem 0 0.23rem;}
.large p{font-size: 0.24rem;color: #9f9f9f;line-height: 0.4rem;}
.large p a{font-size: 0.24rem;color:#008eff;}

.re_cost{height: 0.95rem;line-height: 0.95rem;padding: 0 0.3rem;display: flex;background: #ffffff;}
.re_cost .cost:first-child{font-size: 0.3rem;color: #3b3b3b;flex:1;}
.re_cost .co_box .cost_mon{font-size: 0.28rem;color: #3b3b3b;}
.re_cost .co_box .cost_btn{font-size: 0.28rem;color: #008eff;border: 1px solid #008eff;padding: 0.05rem 0.1rem;margin: 0 0 0 0.48rem;}
.re_cost .co_box .dedu{font-size: 0.28rem;color: #fa6453;}
.re_addbtn .costsub{background: #2ca1fe;}
.recost_tlt{padding: 0.1rem 0.3rem 0.5rem;background: #ffffff;}
.recost_tlt p{font-size: 0.2rem;color: #9f9f9f;line-height: 0.3rem;}
.re_addbtn .costok{background: #2ca1fe;}
.okstate{height: 1.7rem;background:url(../../../images/front/m/withok.png) left 0.7rem center no-repeat #ffffff;margin: 0 0 0.15rem;background-size: 0.44rem;text-indent: 1.4rem;}
.okstate .sta1{height: 1.85rem;}
.okstate .sta2{height: 0.85rem;}
.okstate h3{font-size: 0.3rem;color: #3b3b3b;}
.okstate p{font-size: 0.2rem;color: #9f9f9f;}
.okstate .sta1 h3{padding: 0.4rem 0 0.1rem;}
.okstate .sta2 h3{}

.re_cost .co_box .state{font-size: 0.28rem;color: #3b3b3b;}