@CHARSET "UTF-8";

.admin-main {
	background: #FFFFFF;
}

.user_info_label {
	font-size: 1.3rem;
}

.text-right {
	text-align: right;
}

.modal-label {
	text-align: left;
	font-size: 1.3rem;
}

.modal-textarea {
	width: 94%;
	font-size: 1.3rem;
}