* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.login_source{
	position:relative;
}
.register_box{
	width:100%;
	padding: 0 40px;
	position: absolute;
	left: 0;
	top: 590px;
}
.register_item{
	width: 670px;
	height: 90px;
	line-height: 90px;
	background: #fff;
	border-radius: 50px;
	margin-bottom: 30px;
	position: relative;
}
.register_item:last-child{
	width: 420px;
}
.icon{
	width: 100px;
	height: 90px;
	float: left;
}
.icon img{
	width: 40px;
	height: 50px;
}
.input{
	width: 570px;
	height: 100%;
	float: right;
}
.register_item:last-child .input{
	width: 320px;
}
.input input{
	width:100%;
	height: 90px;
	line-height: 90px;
	background: none;
	font-size: 26px;
}
.code{
	width: 240px;
	height: 90px;
	line-height: 90px;
	background: linear-gradient(top,#ffef70,#fde628);
	background: -webkit-linear-gradient(top,#ffef70,#fde628);
	background: -moz-linear-gradient(top,#ffef70,#fde628);
	border-radius: 50px;
	position: absolute;
	top:0;
	right: -250px;
}
.code input{
	width:100%;
	height: 90px;
	line-height: 90px;
	background: none;
	font-size: 24px;
	color:#fa6f2a;
}
.register_submit{
	width: 670px;
	height: 90px;
	border-radius: 50px;
	background: linear-gradient(top,#ffef70,#fde628);
	background: -webkit-linear-gradient(top,#ffef70,#fde628);
	background: -moz-linear-gradient(top,#ffef70,#fde628);
	margin: 90px auto;
}
.register_submit a{
	display: block;
	width: 100%;
	height: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 32px;
    color: #fa6f2a;
    border-radius: 5px;
	font-weight: bold;
}