body{
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin: 0;
}
.plat{}
.f_plat{height: 400px;background:#3a459a;color: #ffffff;text-align: center;}
.f_plat h3{font-size: 36px;padding: 90px 0 33px;}
.f_plat span{font-size: 60px;border: 1px solid #63baff;padding: 0 24px;}
.f_plat h4{font-size: 26px;color: #afb2d1;margin: 20px 0 0;}

.cumulative{height: 210px;position: relative;background: #f6f6f6;margin: 0 24px;}
.cumulative .cumu{position: absolute;height: 230px;width: 100%;bottom: 30px;background: #ffffff;display: flex;}
.cumulative .cumu .cubox{flex:1;text-align: center;}
.cumulative .cumu .cu1{background: url(../img/plat_01.png) center 45px no-repeat;background-size: 55px;}
.cumulative .cumu .cu2{background: url(../img/plat_02.png) center 45px no-repeat;background-size: 55px;}
.cumulative .cumu .cu3{background: url(../img/plat_03.png) center 45px no-repeat;background-size: 55px;}

.cumulative .cumu .cubox h3{font-size: 28px;color: #3f3f3f;padding: 120px 0 17px;}
.cumulative .cumu .cubox p{font-size: 24px;color: #9f9f9f;}

.operate{background: #ffffff;}
.operate h3{line-height: 105px;background: url(../img/plat_tltbj.png) center center no-repeat;background-size: 390px;text-align: center;font-size: 24px;color: #3f3f3f;}
.operate img{width: 100%;}
#iSlider-wrapper{
    height: 400px;
    overflow:hidden;
    margin-top: -40px;
}
#iSlider-wrapper li a{
	display: block;
	width:100%;
	height:100%;
}
.man_woman{
	padding: 40px 0;
	background: #fff;
	overflow: hidden;
	margin-bottom: 16px;
}
.man_box{
	margin-left: 110px;
	overflow: hidden;
}
.man_right{
	padding-left: 20px;
}
.man_percent{
	font-size: 30px;
	color: #3b3b3b;
	height: 40px;
	line-height: 40px;
}
.man_description{
	font-size: 24px;
	color: #9f9f9f;
	height: 36px;
	line-height: 36px;
}