@CHARSET "UTF-8";

.hide{
	display: none;
}

.admin-main {
	background: #FFFFFF;
}

.modal-label {
	text-align: left;
	font-size: 1.3rem;
}

.modal-textarea {
	width: 94%;
}

.text-right {
	text-align: right;
}

.lable-middle {
	padding: .5em;
}

.am-checkbox {
	margin-top: -10px;
	margin-bottom: 0px;
}

.user_info_label {
	font-size: 1.3rem;
}